/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7fafc;
}

.course-item {
  transition: transform 0.2s;
}

.course-item:hover {
  transform: translateY(-5px);
}
